<!DOCTYPE html>
<html lang="en">
<head>
<style>
.row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
	body{
		padding-top: 30px;
		padding-left: 30px;
	}
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
	i{
		width:50px;
		float: left;
		text-align:center;
		padding-top: 5px;
		padding-right: 5px;
	}
	.pink{ 
 		width : 60px;
		height: 60px;
		border-radius : 4px;
		font-size : 30px;
		background-color : #f05b9b;
		color: white;
		padding : 10px
	}
	.red{
		width : 60px;
		height: 60px;
		border-radius : 4px;
		font-size : 30px;
		background-color : #f70a0a;
		color: white;
		padding : 10px
	}
	.green{
		width : 60px;
		height: 60px;
		border-radius : 4px;
		font-size : 30px;
		background-color : #21b83f;
		color: white;
		padding : 10px
	}
	.blue{
		width : 60px;
		height: 60px;
		border-radius : 4px;
		font-size : 30px;
		background-color : #7be0ed;
		color: white;
		padding : 10px
	}
</style>
</head>
<body>
</body>
</html>