<!DOCTYPE html>
<html lang="en">
<head>
<style>
body{
	margin:0;
	padding:0;
	font-family:sans-serif;
	background-color: #0A0909;
	background-size: cover;
}
.login-box h1{
	float:left;
	font-size:40px;
	border-bottom:25px;
	margin-bottom:50px;
	border-bottom:6px solid #4caf50;
	padding: 13px 0 
}


.login-box h1{
	float:left;
	font-size:40px;
	border-bottom:25px;
	margin-bottom:50px;
	border-bottom:6px solid #4caf50;
	padding: 13px 0 
}
.login-box{
	
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	color:white;
}
.textbox{
	width:100%;
	overflow:hidden;
	font-size:20px;
	padding:8px 0;
	margin:8px 0;
	border-bottom:1px solid #3cd63c;
}
.textbox i{
width:26px;
float: left;
text-align:center;
}
.textbox input{
 	border:none;
	outline:none;
	background:none;
	color:white;
	font-size:18px;
	width:80%;
	float:left;
	margin:0 10px;
}
.btn{
	width:15%;
	background:none;
	border:2px solid #4caf50;
	color:white;
	padding:5px;
	font-size:18px;
	cursor:pointer;
	margin:12px 0;
}
</style>
</head>
</html>