<!DOCTYPE html>
<html>
<head>
<style>
.list {
  background-color: #807d7d;
  color: white;
  width : 15%;
  left : 20px;
}
h2{
  border-bottom: 50px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #b0abab;
}
i{
width:26px;
float: left;
text-align:center;
}

li a {
  display: block;
  color: white;
  padding: 25px 10px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #1db6e0;
  color: white;
}
</style>
</head>
</HTML>