<html>
<head>
<style>
body{
 font-family:"Times New Roman", Times, serif;
background-color: #f0eedf;
}
h2{
  border-bottom: 50px;
}
.heading{
   padding : 15px;

  width: 92%;
   background-color: #a65ab8;
color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #b0abab;
}
i{
width:26px;
float: left;
text-align:center;
}

li a {
  display: block;
  color: white;
  padding: 25px 10px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #1db6e0;
  color: white;
}
th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
table {
   padding : 0px; 
  border-collapse: collapse;
  width: 95%;
  text-align : left;
background-color : white;

}

th {
  height: 30px;
  color : #a65ab8;
}
.split {
  height: 100%;
  
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
position: sticky;
background-color: #807d7d;
  color: white;
width : 15%;
  left: 20px;
  
}

.right {

width : 80%;
  right: 0;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   
   
}
</style>
</html>