<html>
<head>
<style>
body {
padding-top : 60px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
i{
width:26px;
float: left;
text-align:center;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
table {
   padding : 10px; 
  border-collapse: collapse;
  width: 95%;
  text-align : left;
background-color : white;

}

th {
  height: 30px;
  color : #a65ab8;
}
</style>
</head>
<body>
</body>
</html>