<frameset cols="15%,*,25%">
<frame src="landing page.html" name=left frameborder="0">
<frame src="edit.html" name=center frameborder="0">

<frame src="card.html" name=right frameborder="0">
</frameset>


