<frameset cols="15%,40%,40%">
<frame src="landing page.html" name=left frameborder="0">
<frame src="task.html" name=center frameborder="0">

<frame src="NewStatus.html" name=right frameborder="0">
</frameset>